
        <div class="col-sm-12">         

                <% include ./utils/userinfo %>
        
        </div>
        <div class="col-sm-12">         

                 <% include ./utils/chart_single %>
                
        </div>
        <div class="col-sm-12">         

                <% include ./utils/table %>
        
        </div>
        
            

            


        