
<div class="card">
    <div class="card-header">
        <strong class="card-title">deposit container</strong>
    </div>
    <div class="card-body">
        <form  id="PForm" method="POST" action="/cp/points/add">
            <select name="endpoint" >
                <option value="1">Punto 1</option>
                <option value="2">Punto 2</option>
                <option value="3">Punto 3</option>
              </select>
            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">ADD</button>
        </form>
    </div>
</div>

