
<div class="card">
    <div class="card-header">
        <strong class="card-title">Recycling Point</strong>
    </div>
    <div class="card-body">
        <form  id="PForm" method="POST" action="/cp/points/add">
            <select name="endpoint" >
                <% for (var i = 0; i < Rpoints.length; i++) { %>
                <option value="<%= Rpoints[i].id %>"</option>><%= Rpoints[i].name %></option>
                <% } %>
              </select>
            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">ADD</button>
        </form>
    </div>
</div>

