
<style>
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: #272C33;
          color: white;
          text-align: center;
        }
        </style>
        
    
        <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p> Template by <a href="https://colorlib.com">Colorlib</a>, EJS adaptation made by <a href="https://github.com/Samleinav">Samleinav</a> </p>
                    </div>
                </div>
            </div>
        </div>
